

@import url('https://fonts.googleapis.com/css?family=PT+Serif|Open+Sans|Shadows+Into+Light');

body {
  text-align: center;
  background: url("lakewithdock.jpg");
  background-size: cover;
  color: #101935;
  font-family: "helvetica";

}

#slogan{
	font-weight: normal;
	font-family: "shadows into light";
	font-size: 1.5em;
	line-height:.5em;
}

h1{
	font-family:"open sans";
	font-style: black;
	font-size: 3em;
	line-height: 1.5em;
}



p{
	font-family: "pt serif";
    font-size: 1em;
    line-height: 1.5em;
    margin:2em;
   
}

ul{
	font-family:"open sans";
	font-size: 1.25em;
	line-height: 1em;
	font-weight: bold;
}



