

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Raleway|Open+Sans|Shadows+Into+Light');

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

body{
  
  font-family: 'open-sans','raleway',sans-serif;
  font-size: 14px; 
 
}


.hero{

	border: 0px black solid;
	padding: 20px;
	background: url("lakewithdock.jpg");
    background-size: cover;	
    min-height: 540px;
}

header{
	border: 0px black solid;
	
}

h1{
	font-family:'shadows into light';
	font-size: 4.25em;
	letter-spacing: 2px;
	color:#456990;
	display: inline-block;
	margin: 0px auto;
	padding: 0 0 0 0.5em;
	
}


nav{ 
	text-transform: uppercase;
	font-family:'open sans';
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: -2px;
	float: right;
	color:#333951;
	padding: 0;

}


a:hover{
	color: #456990;
	text-decoration: underline;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

#wrapper {
	border: 0px black solid;
	padding: 5em;
}



h3{
  border-bottom: 0px solid black;
  display: inline-block;
  text-align: center;
  margin: auto;
  font-weight: bolder;
  font-size: 2.5em;
  font-family: "crimson text";

}

#text-box {
	border: 2px black solid;
	margin:auto;
	padding: 2em;
	background-color:
	color: #3d3d3d;
	font-weight: 300;
	border: 0px black solid;
	line-height: 2em;
	letter-spacing: 0.25px;
	margin: auto;
	width: 75%;
	text-align: center;
}

#slogan {
	color: #3d3d3d;
	font-weight: 300;
	border: 0px black solid;
	line-height: 1.75em;
	letter-spacing: 0.25px;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	width: 85%;
	margin: auto;
	background-color: rgba(251,254,249,0.4);
	text-align: center;
	
}

#center {
	font-family: "open sans";
	font-size: 1.1em;
	color: #3d3d3d;
	background-color:#;
	border: 0px black solid;
	margin-left: auto;
	padding: 0.5em 2em 0em 2em;
	text-align:center;
	line-height: 1.5em;
	


}

#link{
	text-transform: uppercase;
	font-family:'open sans';
    background-color: #fff;
	border: 1.5px #333951 solid;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 1.25em;
	padding: 0em;
	line-height: 0em;
	box-sizing: border-box;	
	text-align: center;
	display: inline-block;
	margin: 0.5em;

}

nav a, .link-style {	
	text-decoration: none;
	color: #333951;
	margin: 1em;
	display: inline-block;
}


#top {
	background-color: ;
	border: 0px black solid;
	padding: 50px;
	
}

#bottom {
	background-color: ;
	border: 0px black solid;
	padding: 20px;
	
}

strong{
	font-size: 2em;
	font-family: "crimson text";
	line-height: 1.5em;
	text-decoration: underline;
}

footer{
	background-color: #;
	border: 0px black solid;
	padding: 2px;
	text-align: center;
	
}



h2{ 
	text-transform: uppercase;
	font-family:'open sans';
	font-size: 1.25em;
	font-weight: bold;
	letter-spacing: -3px;
	background-color: #;
	padding-top: 0em;
	text-align: center;
	border-bottom: 0px solid black;

}


ul {
	padding: 0.5em 0em 0.5em 0em;
	line-height: 0em;
	text-align: left;
	font-weight: normal;
	font-size: 1.1em;
	letter-spacing: 0px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#gettingstarted {
	border: 0px black solid;
	padding: 0px;
	padding-top: 0em;
	box-sizing: border-box;
	width: 100%;
	background-color:#fff ;
	height:525px;
	color: #3d3d3d;

}

span {

	word-spacing: 5px;
}

#left {
	background-color:#eee;
	border: 0px black solid;
	padding: 0em;
	font-size: 2em;
	font-family:'open sans';
	font-weight: bold;
	float: left;
	width: 42%;
	min-height: 425px;
	text-align: right;
	display: inline-block;
	box-sizing: border-box;
	position: relative;

}


.getting-started {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#right {
    background-color:#fff;
    color:#3d3d3d;
	border: 0px black solid;
	padding: 0.5em 3em 0em 3em;
	font-family: 'open sans';
	font-size: 1.1em;
	letter-spacing: 0px;
	line-height: 1.5em;
	float: right;
	width: 58%;
	min-height: 500px;
	box-sizing: border-box;
	word-wrap: break-word;
	display: inline-block;
}








